#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 90%;
  margin: auto;
}

.title {
  text-align: center;
  font-family: Montserrat, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 127%;
  letter-spacing: -0.24px;
}

input {
  margin-bottom: 12px;
  height: 32px;
  border-radius: 4px;
  border: none;
  background: #FFF;
  color: #252424;
  font-family: SF Pro Text;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 127%;
}

select {
  height: 38px;
  margin-bottom: 12px;
  background: #FFF;
  color: #252424;
  border-radius: 4px;
  border: none;
  position: relative;
  font-family: SF Pro Text, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 127%;
}

option {
  height: 24px;
  align-items: end;
  background: #FFF;
}

.error {
  color: #8a0505;
  padding: 4px;
}

.result {
  margin-top: 16px;
  text-align: center;
  font-family: Montserrat, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 127%;
  letter-spacing: -0.24px;
}

.history {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  color: #ffffff;
}

.clear-history {
  align-self: end;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
  font-family: inherit;
  cursor: pointer;
  color: #b02020;
}